html,body{
    height: 100%;
}

.example_popup-form-item>input{
    letter-spacing: 0.2em;
}
header{
    position:relative;
}

.example_p_review{
    margin-bottom: 1rem;
}
.example_pagination-wrp-item a{
    width: 100%!important;
    height: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}


@media screen and (max-width: 768px) {
    .example_left img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: left!important;
    }
}
